#body {
    background-color: black;
    color: white;
}

#heading {
    background-color: black;
    color: #1ED760;
    font-family: 'Dancing Script', Georgia, Times, serif;
}

#user-container {
    font-family: 'Lobster', Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Dancing Script', Georgia, Times, serif;
}

p {
    font-family: 'Lobster', Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex;
    background-color: #1DB954;
    color: black;
}

.flex-child {
    flex: 1;
    border: 2px black;
    margin-right: 10px
}

.hidden {
    visibility: hidden;
}

.disabled {
    display: none;
}

.black {
    background-color: black;
    color: white;
}

img {
    border: 1px;
    border-radius: 4px 50%;
    padding: 5px;
    width: 50px;
}

img#user-image {
    border: 1px;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

.playlist.flex-container {
    border-bottom: 1px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.flex-container.user#user-container {
    border-radius: 30px;
}

.flex-child.title {
    flex-grow: 4;
}

.flex-child.image {
    flex-grow: 1;
}

.loader {
    border: 15px solid #f3f3f3;
    border-top: 15px solid #d61e96;
    border-bottom: 15px solid #1ED760;
    border-left: 15px solid #d6b41e;
    border-right: 15px solid #1e3ad6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 45%;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
