#body {
    background-color: black;
    color: white;
}

#heading {
    background-color: black;
    color: #1ED760;
}

.flex-container {
    display: flex;
    background-color: #1DB954;
    color: black;
}

.flex-child {
    flex: 1;
    border: 2px;
}

.flex-child:first-child {
    margin-right: 20px
}

.hidden {
    visibility: hidden;
}

.disabled {
    display: none;
}

.black {
    background-color: black;
    color: white;
}

img {
    border: 1px;
    border-radius: 4px 50%;
    padding: 5px;
    width: 50px;
}

img#user-image {
    border: 1px;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}